<ul>
<% if !@bid.empty? %>
  <% @bid.each do |bid| %>
  <li>Quote Price:<%= bid.bid_quote %> </li>
  <%= button_to "Winning Bid", auction_bid_path(@auction.id, bid.id, bid: {winning_bid: true}), method: :put %>
  <% end %>
  <% else %>
  <p> You have no bids yet! </p>
<% end %>
</ul>
