<div class="callout">
  <div class="row">
    <div class="small-6 small-centered columns bidshow">
      <ul>
      <% if !@bid.empty? %>
        <% if @winner %>
          <h2> Winning Quote: $<%= number_with_delimiter(@winner.bid_quote, :delimiter => ',') %> </h2>
          An Email has been sent to <%= current_user.email %> to contact winning party
        <% else %>
          <% @bid.each do |bid| %>
              <h4> Quote Price: $<%= number_with_delimiter(bid.bid_quote, :delimiter => ',') %> </h4>
              <%= button_to "Select Winner", auction_bid_select_winner_path(@auction, bid.id), method: :put, class: "button alert" %>
            <% end %>
          <% end %>
      <% else %>
        <p> You have no bids yet! </p>
      <% end %>
      </ul>
    </div>
  </div>
</div>
