<div class="row">
  <div class="small-6 small-centered newbid">

    <%= form_for [@auction, @bid] do |f| %>
    <h3> <%= f.label :bid_quote, "Enter Your Quote Price" %> </h3>
      <%= f.number_field :bid_quote %>

      <%= f.submit "Submit Bid", :class => "button alert" %>

      <% end %>

  </div>
</div>
