<div class="row">
  <div class="small-10 columns small-centered">
    <br>
    <% if user_signed_in? %>
    <div class="row">
      <div class="small-2 small-centered">
      <%= link_to "Create Auction", new_auction_path, class: "button secondary" %>
        <div>
          <% if @auctions %>
            <% @auctions.each do |auction| %>
              <%= auction.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div id='app'>
      application
    </div>
  </div>
</div>


    <div class="medium-12 columns right-divider">
      <h2>About</h2>
      <p>
        OpenBid is an anonymous bid site for contractors searching for RFPs (Request for Proposals). The aim of OpenBid is to stop discrimination within the bid selection process. The site makes use of anonymity during all parts of the auction process. No information is ever shared between parties until a winning bid is designated by the auctioneer, only then do both parties recieve an email stating eachother's contact information. OpenBid hopes to achieve a more free and open bid process to allow for an unbiased and competitive bid process. Happy bidding!
      </p>
    </div>
