$base-white: #FCFFF5;
$base-cream: #D1DBBD;
$base-teal: #91AA9D;
$base-blue: #3E606F;
$base-deepblue: #193441;

.top-bar {
  background-image: linear-gradient( 0deg, $base-cream, $base-white );
  color: $base-cream;
  padding-left: 20px;
  padding-right:  20px;
}

body{
  background-color: $base-white;
}
