$base-white: #FCFFF5;
$base-cream: #D1DBBD;
$base-teal: #91AA9D;
$base-blue: #3E606F;
$base-deepblue: #193441;

// Navbar
.top-bar {
  background-image: linear-gradient( 0deg, $base-cream, $base-white 70%);
  color: $base-cream;
  padding-left: 20px;
  padding-right:  20px;
  a {
    padding: 10px;
  }
  .nav-logo {
    font-family: "Ubuntu", sans-serif;
    letter-spacing: -.1em;
  }
}

.top-bar-right {
  margin-top: 10px;
}

//Bid Show Page

.indexshow{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bidshow {
  text-align: center;
  position: relative;
}
// Auction Index

.index-bottom-dividers {

  margin-left: fill;
  margin-right: 100px;
}

.index-body {
  padding-left: 115px;
}
.index-body {
  h2 {
    text-align: center;
  }

}

#auction-index {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
//Auction Index Bottom Bar
.right-divider {
  h2 {
    text-align: center;
  }
  background-color: $base-blue;
  width: 50%;
}
.left-divider {
  h2 {
    text-align: center;
  }
  background-color: $base-teal
}

// Sign In
.signin {
  padding: 100px;
  background-image: linear-gradient( -180deg, $base-cream, $base-white 70%);
}

//New bid

.newbid {
padding-top: 100px;
text-align: center;
}
//New User
.newuser {
  background-image: linear-gradient( -180deg, $base-cream, $base-white 70%);
  h2{
    text-align: center;
  }
  hr{
     border:none;
     height: 20px;
     width: 90%;
     height: 50px;
     margin-top: 0;
     border-bottom: 1px solid #1f1209;
     box-shadow: 0 20px 20px -20px #333;
     margin: -50px auto 10px;
  }
}
// Flash
.flash {
  padding: 10px 10px 10px 10px;
  background-color: $base-teal;
  color: $base-deepblue;
  text-align: center;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: winningbid;
  animation-duration: 4s;
}
@-webkit-keyframes winningbid {
    from {background-color: #91AA9D;}
    to {background-color: #3E606F;}
}
//Header
hr{
  border:none;
 height: 20px;
 width: 90%;
 height: 50px;
 margin-top: 0;
 border-bottom: 1px solid #1f1209;
 box-shadow: 0 10px 10px -10px #333;
 margin: -50px auto 10px;
}
//Body
body{
  font-family: 'Ubuntu', sans-serif;
  background-color: $base-white;
}
